<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conan.myapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.conan.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="WebView Activity" />
        <activity
            android:name=".activity.ImageActivity"
            android:label="Image Activity" />
        <activity
            android:name=".activity.OkHttpActivity"
            android:label="OkHttp Activity" />
        <activity
            android:name=".activity.ServiceActivity"
            android:label="Service Activity" />
        <activity
            android:name=".activity.DownloadDemoActivity"
            android:label="DownloadDemoActivity" />
        <activity
            android:name=".activity.UIActivity"
            android:label="UIActivity" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.CollapsingActivity"></activity>
    </application>

</manifest>